mido
git+https://github.com/nmigen/nmigen.git
git+https://github.com/hansfbaier/nmigen-boards.git@qmtech-boards
git+https://github.com/hansfbaier/python-usb-protocol.git@uac2
git+https://github.com/hansfbaier/luna.git@works
git+https://github.com/hansfbaier/adat-core.git
git+https://github.com/hansfbaier/nmigen-library.git
git+https://github.com/hansfbaier/fractional-resampling-core.git
